{% extends 'appbuilder/base/baselayout.html' %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block page_title %}{{ptitle}}{% endblock %}

{% block body %}
{{ super() }}

<section class=" bd-section-1 bd-page-width bd-tagstyles " id="section3"
         data-section-title="Insurance Page High Slider Header">
    <div class="bd-container-inner bd-margins clearfix">
        <div id="carousel-2"
             class="bd-slider-2 bd-background-width  bd-slider bd-no-margins  carousel slide bd-carousel-fade">


            <div class="bd-slides carousel-inner">
                <div class=" bd-slide-2 bd-slide item"


                >
                    <div class="bd-container-inner">
                        <div class="bd-container-inner-wrapper">
                            <div class=" bd-layoutbox-21 bd-no-margins clearfix">
                                <div class="bd-container-inner">
                                    <div class=" bd-layoutcontainer-6 bd-columns bd-no-margins">
                                        <div class="bd-container-inner">
                                            <div class="container-fluid">
                                                <div class="row ">
                                                    <div class=" bd-columnwrapper-10
 col-sm-4">
                                                        <div class="bd-layoutcolumn-10 bd-no-margins bd-column">
                                                            <div class="bd-vertical-align-wrapper">
                                                                <div class=" bd-ribbon-2 bd-ribbon-core bd-ribbon ">
                                                                    <div class="ribbon-inner">
                                                                        <div class="ribbon-stitches-top"></div>
                                                                        <strong class="ribbon-content">
                                                                            <div class=" bd-container-17 bd-tagstyles bd-content-element">
                                                                                Choose your best plan &nbsp;&nbsp;
                                                                            </div>
                                                                        </strong>
                                                                        <div class="ribbon-stitches-bottom"></div>
                                                                    </div>
                                                                </div>

                                                                <div class=" bd-layoutbox-23 bd-no-margins bd-no-margins clearfix">
                                                                    <div class="bd-container-inner">
                                                                        <ul class=" bd-textblock-13 bd-content-element">
                                                                            <li><strong>Giving</strong>&nbsp;you access
                                                                                to the best care possible.
                                                                            </li>
                                                                            <li><strong>Flexible</strong>&nbsp;products
                                                                                to make your life easier.
                                                                            </li>
                                                                            <li><strong>Highest</strong>&nbsp;standards
                                                                                of service.
                                                                            </li>
                                                                            <li><strong>Get</strong>&nbsp;cover for you
                                                                                and your family.
                                                                            </li>
                                                                            <li><strong>Fast</strong>&nbsp;and reliable
                                                                                service.
                                                                            </li>
                                                                        </ul>

                                                                        <div class=" bd-spacer-5 clearfix"></div>

                                                                        <a
                                                                                href=""
                                                                                class="bd-linkbutton-2  btn   btn-success  bd-own-margins bd-content-element">
                                                                            Start a Quote
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class=" bd-columnwrapper-14
 col-sm-8">
                                                        <div class="bd-layoutcolumn-14 bd-column">
                                                            <div class="bd-vertical-align-wrapper"><h3
                                                                    class=" bd-textblock-15 bd-content-element">
                                                                Secure&nbsp;
                                                            </h3>

                                                                <h2 class=" bd-textblock-17 bd-no-margins bd-content-element">
                                                                    Best competiTive Insurance
                                                                </h2>

                                                                <p class=" bd-textblock-19 bd-content-element">
                                                                    ● Free Quotes&nbsp;● Compare rates&nbsp;● Save up to
                                                                    10-20%
                                                                </p>

                                                                <img class="bd-imagelink-2 bd-imagescaling bd-imagescaling-3 bd-own-margins bd-imagestyles   "
                                                                     src="{{url_for('static', filename='assets/images/930439_bd_media_id_c8fb902f024622873e424777e1de9ddb.png')}}">

                                                                <img class="bd-imagelink-7 hidden-xs bd-imagescaling bd-imagescaling-6 bd-no-margins bd-own-margins bd-imagestyles   "
                                                                     src="{{url_for('static', filename='assets/images/929893_bd_media_id_9b3c57b650848342b48708ec7d775e64.png')}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" bd-slide-4 bd-slide item"


                >
                    <div class="bd-container-inner">
                        <div class="bd-container-inner-wrapper">
                            <div class=" bd-layoutbox-24 bd-no-margins clearfix">
                                <div class="bd-container-inner">
                                    <div class=" bd-layoutcontainer-10 bd-columns bd-no-margins">
                                        <div class="bd-container-inner">
                                            <div class="container-fluid">
                                                <div class="row ">
                                                    <div class=" bd-columnwrapper-28
 col-sm-4">
                                                        <div class="bd-layoutcolumn-28 bd-no-margins bd-column">
                                                            <div class="bd-vertical-align-wrapper">
                                                                <div class=" bd-ribbon-4 bd-ribbon-core bd-ribbon ">
                                                                    <div class="ribbon-inner">
                                                                        <div class="ribbon-stitches-top"></div>
                                                                        <strong class="ribbon-content">
                                                                            <div class=" bd-container-22 bd-tagstyles bd-content-element">
                                                                                Competitive Prices &nbsp; &nbsp;
                                                                            </div>
                                                                        </strong>
                                                                        <div class="ribbon-stitches-bottom"></div>
                                                                    </div>
                                                                </div>

                                                                <div class=" bd-layoutbox-25 bd-no-margins bd-no-margins clearfix">
                                                                    <div class="bd-container-inner">
                                                                        <ul class=" bd-textblock-46 bd-content-element">
                                                                            <li><strong>Giving</strong>&nbsp;you access
                                                                                to the best care possible.
                                                                            </li>
                                                                            <li><strong>Flexible</strong>&nbsp;products
                                                                                to make your life easier.
                                                                            </li>
                                                                            <li><strong>Highest</strong>&nbsp;standards
                                                                                of service.
                                                                            </li>
                                                                            <li><strong>Get</strong>&nbsp;cover for you
                                                                                and your family.
                                                                            </li>
                                                                            <li><strong>Fast</strong>&nbsp;and reliable
                                                                                service.
                                                                            </li>
                                                                        </ul>

                                                                        <div class=" bd-spacer-6 clearfix"></div>

                                                                        <a
                                                                                href=""
                                                                                class="bd-linkbutton-5  btn   btn-success  bd-own-margins bd-content-element">
                                                                            Start a Quote
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class=" bd-columnwrapper-27
 col-sm-8">
                                                        <div class="bd-layoutcolumn-27 bd-column">
                                                            <div class="bd-vertical-align-wrapper"><h3
                                                                    class=" bd-textblock-45 bd-content-element">
                                                                Secure&nbsp;
                                                            </h3>

                                                                <h2 class=" bd-textblock-44 bd-no-margins bd-content-element">
                                                                    Best competivive Insurance
                                                                </h2>

                                                                <p class=" bd-textblock-43 bd-content-element">
                                                                    ● Free Quotes&nbsp;● Compare rates&nbsp;● Save up to
                                                                    10-20%
                                                                </p>

                                                                <img class="bd-imagelink-20 bd-imagescaling bd-imagescaling-8 bd-own-margins bd-imagestyles   "
                                                                     src="{{url_for('static', filename='assets/images/930439_bd_media_id_c8fb902f024622873e424777e1de9ddb.png')}}">

                                                                <img class="bd-imagelink-19 hidden-xs bd-imagescaling bd-imagescaling-7 bd-no-margins bd-own-margins bd-imagestyles   "
                                                                     src="{{url_for('static', filename='assets/images/929893_bd_media_id_9b3c57b650848342b48708ec7d775e64.png')}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" bd-slide-5 bd-slide item"


                >
                    <div class="bd-container-inner">
                        <div class="bd-container-inner-wrapper">
                            <div class=" bd-layoutbox-26 bd-no-margins clearfix">
                                <div class="bd-container-inner">
                                    <div class=" bd-layoutcontainer-11 bd-columns bd-no-margins">
                                        <div class="bd-container-inner">
                                            <div class="container-fluid">
                                                <div class="row ">
                                                    <div class=" bd-columnwrapper-34
 col-sm-4">
                                                        <div class="bd-layoutcolumn-34 bd-no-margins bd-column">
                                                            <div class="bd-vertical-align-wrapper">
                                                                <div class=" bd-ribbon-5 bd-ribbon-core bd-ribbon ">
                                                                    <div class="ribbon-inner">
                                                                        <div class="ribbon-stitches-top"></div>
                                                                        <strong class="ribbon-content">
                                                                            <div class=" bd-container-23 bd-tagstyles bd-content-element">
                                                                                Life Insurance Covered &nbsp;&nbsp;
                                                                            </div>
                                                                        </strong>
                                                                        <div class="ribbon-stitches-bottom"></div>
                                                                    </div>
                                                                </div>

                                                                <div class=" bd-layoutbox-27 bd-no-margins bd-no-margins clearfix">
                                                                    <div class="bd-container-inner">
                                                                        <ul class=" bd-textblock-50 bd-content-element">
                                                                            <li><strong>Giving</strong>&nbsp;you access
                                                                                to the best care possible.
                                                                            </li>
                                                                            <li><strong>Flexible</strong>&nbsp;products
                                                                                to make your life easier.
                                                                            </li>
                                                                            <li><strong>Highest</strong>&nbsp;standards
                                                                                of service.
                                                                            </li>
                                                                            <li><strong>Get</strong>&nbsp;cover for you
                                                                                and your family.
                                                                            </li>
                                                                            <li><strong>Fast</strong>&nbsp;and reliable
                                                                                service.
                                                                            </li>
                                                                        </ul>

                                                                        <div class=" bd-spacer-7 clearfix"></div>

                                                                        <a
                                                                                href=""
                                                                                class="bd-linkbutton-6  btn   btn-success  bd-own-margins bd-content-element">
                                                                            Start a Quote
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class=" bd-columnwrapper-31
 col-sm-8">
                                                        <div class="bd-layoutcolumn-31 bd-column">
                                                            <div class="bd-vertical-align-wrapper"><h3
                                                                    class=" bd-textblock-49 bd-content-element">
                                                                Secure&nbsp;
                                                            </h3>

                                                                <h2 class=" bd-textblock-48 bd-no-margins bd-content-element">
                                                                    Best competivive Insurance
                                                                </h2>

                                                                <p class=" bd-textblock-47 bd-content-element">
                                                                    ● Free Quotes&nbsp;● Compare rates&nbsp;● Save up to
                                                                    10-20%
                                                                </p>

                                                                <img class="bd-imagelink-22 bd-imagescaling bd-imagescaling-10 bd-own-margins bd-imagestyles   "
                                                                     src="{{url_for('static', filename='assets/images/930439_bd_media_id_c8fb902f024622873e424777e1de9ddb.png')}}">

                                                                <img class="bd-imagelink-21 hidden-xs bd-imagescaling bd-imagescaling-9 bd-no-margins bd-own-margins bd-imagestyles   "
                                                                     src="{{url_for('static', filename='assets/images/929893_bd_media_id_9b3c57b650848342b48708ec7d775e64.png')}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <script type="text/javascript">
                /* <![CDATA[ */
                if ('undefined' !== typeof initSlider) {
                    initSlider(
                        '.bd-slider-2',
                        {
                            leftButtonSelector: 'bd-left-button',
                            rightButtonSelector: 'bd-right-button',
                            navigatorSelector: '.bd-carousel-1',
                            indicatorsSelector: '.bd-indicators',
                            carouselInterval: 3000,
                            carouselPause: "hover",
                            carouselWrap: true,
                            carouselRideOnStart: true
                        }
                    );
                }
                /* ]]> */
            </script>
        </div>
    </div>
</section>

<section class=" bd-section-7 bd-page-width bd-tagstyles bd-custom-image  bd-no-margins" id="section4"
         data-section-title="Car Service Two Plus Three">
    <div class="bd-container-inner bd-margins clearfix">
        <h1 class=" bd-textblock-35 bd-no-margins bd-content-element">
            At Anchorpremier
        </h1>

        <div class=" bd-customhtml-1 bd-tagstyles bd-custom-bulletlist">
            <div class="bd-container-inner bd-content-element">
                <ul>
                    <li>We offer you more than covering your loss</li>
                    <li>We help your business prosper and grow</li>
                    <li>We give you the best suitable quote from 56 insurers nationwide<br></li>
                    <li>We bring you a new area of accountability, performance, service and specialization.&nbsp;<br>
                    </li>
                    <li>We are your trusted insurance, finance and risk advisor<br></li>
                </ul>



            </div>
        </div>
    </div>
</section>

<section class=" bd-section-8 bd-tagstyles" id="section3" data-section-title="Three Row with Text">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-8 bd-columns bd-no-margins">
            <div class="bd-container-inner">
                <div class="container-fluid">
                    <div class="row
 bd-row-flex 
 bd-row-align-top">
                        <div class=" bd-columnwrapper-13
 col-lg-4
 col-sm-4">
                            <div class="bd-layoutcolumn-13 bd-column">
                                <div class="bd-vertical-align-wrapper"><img
                                        class="bd-imagelink-6 bd-own-margins bd-imagestyles   "
                                        src="{{url_for('static', filename='assets/images/f7e76db71737c1d21c5b888dfb40fd5f_1.png')}}">

                                    <h2 class=" bd-textblock-8 bd-content-element">
                                        make a claim
                                    </h2>

                                    <p class=" bd-textblock-20 bd-content-element">
                                        The target population we strive to serve includes small, medium and large
                                        businesses.
                                    </p></div>
                            </div>
                        </div>

                        <div class=" bd-columnwrapper-18
 col-lg-4
 col-sm-4">
                            <div class="bd-layoutcolumn-18 bd-column">
                                <div class="bd-vertical-align-wrapper"><img
                                        class="bd-imagelink-12 bd-own-margins bd-imagestyles   "
                                        src="{{url_for('static', filename='assets/images/ecae6112f221c70ac9e1da52c06997db_defg.png')}}">

                                    <h2 class=" bd-textblock-25 bd-content-element">
                                        request a quote
                                    </h2>

                                    <p class=" bd-textblock-27 bd-content-element">
                                        A small business social media manager may be the best thing that happens to your
                                        business
                                    </p></div>
                            </div>
                        </div>

                        <div class=" bd-columnwrapper-20
 col-lg-4
 col-sm-4">
                            <div class="bd-layoutcolumn-20 bd-column">
                                <div class="bd-vertical-align-wrapper"><img
                                        class="bd-imagelink-14 bd-own-margins bd-imagestyles   "
                                        src="{{url_for('static', filename='assets/images/c18fc63db51338ad92097d2bc3848219_dff.png')}}">

                                    <h2 class=" bd-textblock-30 bd-content-element">
                                        contact
                                    </h2>

                                    <p class=" bd-textblock-34 bd-content-element">
                                        The target population we strive to serve includes small, medium and large
                                        businesses.
                                    </p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class=" bd-content-13">

    <div class=" bd-htmlcontent-1 bd-margins"
         data-page-id="page.0">
        <section class=" bd-section-5 bd-page-width bd-tagstyles " id="section4"
                 data-section-title="Design Three Columns">
            <div class="bd-container-inner bd-margins clearfix">
                <div class=" bd-layoutcontainer-7 bd-page-width  bd-columns bd-no-margins">
                    <div class="bd-container-inner">
                        <div class="container-fluid">
                            <div class="row
 bd-row-flex 
 bd-row-align-bottom">
                                <div class=" bd-columnwrapper-12
 col-lg-4
 col-md-4
 col-sm-6">
                                    <div class="bd-layoutcolumn-12 bd-textureoverlay bd-textureoverlay-2 bd-column">
                                        <div class="bd-vertical-align-wrapper"><h2
                                                class=" bd-textblock-6 bd-content-element">
                                            Personal<br>Insurance
                                        </h2>

                                            <div class="bd-separator-2  bd-separator-center bd-separator-content-center clearfix">
                                                <div class="bd-container-inner">
                                                    <div class="bd-separator-inner">

                                                    </div>
                                                </div>
                                            </div>

                                            <p class=" bd-textblock-14 bd-content-element">
                                                Creative concepts serve as a bridge between our customers
                                            </p>

                                            <div class=" bd-spacer-3 clearfix"></div>

                                            <a
                                                    href=""
                                                    class="bd-linkbutton-9  bd-button-12  bd-own-margins bd-content-element">
                                                View More
                                            </a></div>
                                    </div>
                                </div>

                                <div class=" bd-columnwrapper-17
 col-lg-4
 col-md-4
 col-sm-6">
                                    <div class="bd-layoutcolumn-17 bd-textureoverlay bd-textureoverlay-5 bd-column">
                                        <div class="bd-vertical-align-wrapper"><h2
                                                class=" bd-textblock-18 bd-content-element">
                                            Business<br>Insurance
                                        </h2>

                                            <div class="bd-separator-6  bd-separator-center bd-separator-content-center clearfix">
                                                <div class="bd-container-inner">
                                                    <div class="bd-separator-inner">

                                                    </div>
                                                </div>
                                            </div>

                                            <p class=" bd-textblock-22 bd-content-element">
                                                We connect you with your audience on a personal level.
                                            </p>

                                            <div class=" bd-spacer-9 clearfix"></div>

                                            <a
                                                    href=""
                                                    class="bd-linkbutton-15  bd-button-14  bd-own-margins bd-content-element">
                                                View More
                                            </a></div>
                                    </div>
                                </div>

                                <div class=" bd-columnwrapper-21
 col-lg-4
 col-md-4
 col-sm-6">
                                    <div class="bd-layoutcolumn-21 bd-textureoverlay bd-textureoverlay-7 bd-column">
                                        <div class="bd-vertical-align-wrapper"><h2
                                                class=" bd-textblock-28 bd-content-element">
                                            Financial<br>Planning
                                        </h2>

                                            <div class="bd-separator-8  bd-separator-center bd-separator-content-center clearfix">
                                                <div class="bd-container-inner">
                                                    <div class="bd-separator-inner">

                                                    </div>
                                                </div>
                                            </div>

                                            <p class=" bd-textblock-32 bd-content-element">
                                                Real Designing of consequence is incredibly challenging.
                                            </p>

                                            <div class=" bd-spacer-11 clearfix"></div>

                                            <a
                                                    href=""
                                                    class="bd-linkbutton-19  bd-button-16  bd-own-margins bd-content-element">
                                                View More
                                            </a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

        {% block footer %}


                {% include 'appbuilder/footer_front.html' %}

    {% endblock %}
{% endblock %}
