{% extends "appbuilder/base/baselayout.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block page_title %}{{donateus}}{% endblock %}

{% block bodytype %}
<body class=" bootstrap bd-body-7  bd-pagebackground  bd-margins">
{% endblock %}

{% block body %}
{{ super() }}
		<div class="bd-contentlayout-5 bd-page-width  bd-sheetstyles   bd-no-margins bd-margins" >
    <div class="bd-container-inner">

        <div class="bd-flex-vertical bd-stretch-inner bd-no-margins">
            
            <div class="bd-flex-horizontal bd-flex-wide bd-no-margins">
                
                <div class="bd-flex-vertical bd-flex-wide bd-no-margins">
                    

                    <div class=" bd-layoutitemsbox-3 bd-flex-wide bd-margins">
    <div class=" bd-stretchtobottom-2 bd-stretch-to-bottom" data-control-selector=".bd-content-12"><div class=" bd-content-12 ">
    
    <div class=" bd-htmlcontent-2 bd-margins" 
 data-page-id="page.15">
    <section class=" bd-section-11 bd-page-width bd-tagstyles " id="section4" data-section-title="Three Columns">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-23 bd-page-width  bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-top">
                <div class=" bd-columnwrapper-50 
 col-lg-3
 col-sm-6">
    <div class="bd-layoutcolumn-50 bd-column" ><div class="bd-vertical-align-wrapper"><img class="bd-imagelink-25 bd-own-margins bd-imagestyles   "  src="{{url_for('static', filename='assets/images/f4594bf81debed22bf78578c38daee72_1.png')}}">
	
		<h2 class=" bd-textblock-61 bd-content-element">
    Group Travel
</h2>
	
		<div class=" bd-spacer-14 clearfix"></div>
	
		<p class=" bd-textblock-63 bd-content-element">
    After your trip we’ll invite you to write a review, so you can help other travelers with your candid feedback. Only travelers who have purchased a trip.
</p></div></div>
</div>
	
		<div class=" bd-columnwrapper-52 
 col-lg-3
 col-sm-6">
    <div class="bd-layoutcolumn-52 bd-column" ><div class="bd-vertical-align-wrapper"><img class="bd-imagelink-27 bd-own-margins bd-imagestyles   "  src="{{url_for('static', filename='assets/images/94c9615d5f4b031f4a40c6aea5a44d31_2.png')}}">
	
		<h2 class=" bd-textblock-65 bd-content-element">
    Transfers
</h2>
	
		<div class=" bd-spacer-16 clearfix"></div>
	
		<p class=" bd-textblock-67 bd-content-element">
    Our travel specialist partners will arrange an initial phone consultation or exchange emails with you to better understand your specific interests.
</p></div></div>
</div>
	
		<div class=" bd-columnwrapper-54 
 col-lg-3
 col-sm-6">
    <div class="bd-layoutcolumn-54 bd-column" ><div class="bd-vertical-align-wrapper"><img class="bd-imagelink-29 bd-own-margins bd-imagestyles   "  src="{{url_for('static', filename='assets/images/370f2c64a5e4f47a787edfedb2705365_3.png')}}">
	
		<h2 class=" bd-textblock-69 bd-content-element">
    Tickets
</h2>
	
		<div class=" bd-spacer-18 clearfix"></div>
	
		<p class=" bd-textblock-71 bd-content-element">
    Travel agencies always charge a fee for making air reservations, the airlines no longer pay commission. Does not book plane tickets for that very reaso.
</p></div></div>
</div>
	
		<div class=" bd-columnwrapper-63 
 col-lg-3
 col-sm-6">
    <div class="bd-layoutcolumn-63 bd-column" ><div class="bd-vertical-align-wrapper"><img class="bd-imagelink-31 bd-own-margins bd-imagestyles   "  src="{{url_for('static', filename='assets/images/976271896daa7e7b92289aaad54ac311_4.png')}}">
	
		<h2 class=" bd-textblock-73 bd-content-element">
    life insurance
</h2>
	
		<div class=" bd-spacer-20 clearfix"></div>
	
		<p class=" bd-textblock-75 bd-content-element">
    You select the travel specialist who impresses you the most. After your itinerary is refined to perfection, book it with the travel specialist.
</p></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>
	
		<section class=" bd-section-10 bd-page-width bd-tagstyles " id="section4" data-section-title="Insurance Three Columns With Header">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-17 bd-page-width  bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-middle">
                <div class=" bd-columnwrapper-36 
 col-xs-12">
    <div class="bd-layoutcolumn-36 bd-column" ><div class="bd-vertical-align-wrapper"><div class="bd-separator-7  bd-separator-left bd-separator-content-center clearfix" >
    <div class="bd-container-inner">
        <div class="bd-separator-inner">
            
        </div>
    </div>
</div></div></div>
</div>
	
		<div class=" bd-columnwrapper-38 
 col-md-8
 col-sm-12">
    <div class="bd-layoutcolumn-38 bd-column" ><div class="bd-vertical-align-wrapper"><div class=" bd-spacer-12 hidden-sm hidden-xs clearfix"></div>
	
		<h1 class=" bd-textblock-41 bd-content-element">
    How to Cut the Cost of Car Insurance
</h1>
	
		<p class=" bd-textblock-51 bd-content-element">
    When you are young and inexperienced, buy a low-powered, low value car to try and keep your car insurance premium to a minimum. If it is worth less then it will cost less to fix/replace when in your youthful exuberance you crash it.&nbsp;
</p>
	
		<div class=" bd-layoutcontainer-21 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-top">
                <div class=" bd-columnwrapper-44 
 col-sm-6">
    <div class="bd-layoutcolumn-44 bd-column" ><div class="bd-vertical-align-wrapper"><h2 class=" bd-textblock-53 bd-content-element">
    Collector Car Insurance
</h2>
	
		<p class=" bd-textblock-55 bd-content-element">
    People who own and drive collector cars have different needs for their collector car insurance than they have for their cars that are driven every day. A collectible car is by definition "special".
</p>
	
		<a 
 href="" class="bd-linkbutton-22  bd-button-22 bd-icon bd-icon-49 bd-own-margins bd-content-element"    >
    Read More
</a></div></div>
</div>
	
		<div class=" bd-columnwrapper-46 
 col-sm-6">
    <div class="bd-layoutcolumn-46 bd-column" ><div class="bd-vertical-align-wrapper"><h2 class=" bd-textblock-57 bd-content-element">
    Vintage Car Insurance
</h2>
	
		<p class=" bd-textblock-59 bd-content-element">
    f you have a vintage car then it probably cost you a lot of money. Most people who buy vintage or classic cars do so not only because they like them, but because they see the vehicle as an investment.
</p>
	
		<a 
 href="" class="bd-linkbutton-24  bd-button-23 bd-icon bd-icon-51 bd-own-margins bd-content-element"    >
    Read More
</a></div></div>
</div>
            </div>
        </div>
    </div>
</div></div></div>
</div>
	
		<div class=" bd-columnwrapper-48 
 col-md-4
 col-sm-12">
    <div class="bd-layoutcolumn-48 bd-column" ><div class="bd-vertical-align-wrapper"><img class="bd-imagelink-23 bd-imagescaling bd-imagescaling-11 bd-own-margins bd-imagestyles   "  src="{{url_for('static', filename='assets/images/921790_bd_media_id_ec6e985fc2421cac8354a2cd80a04325.png')}}"></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>
	
		<section class=" bd-section-3 bd-page-width bd-tagstyles " id="section4" data-section-title="Insurance Three Columns With Header">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-9 bd-page-width  bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-middle">
                <div class=" bd-columnwrapper-15 
 col-xs-12">
    <div class="bd-layoutcolumn-15 bd-column" ><div class="bd-vertical-align-wrapper"><div class="bd-separator-3  bd-separator-left bd-separator-content-center clearfix" >
    <div class="bd-container-inner">
        <div class="bd-separator-inner">
            
        </div>
    </div>
</div></div></div>
</div>
	
		<div class=" bd-columnwrapper-22 
 col-md-4
 col-sm-12">
    <div class="bd-layoutcolumn-22 bd-column" ><div class="bd-vertical-align-wrapper"><img class="bd-imagelink-10 bd-imagescaling bd-imagescaling-2 bd-own-margins bd-imagestyles   "  src="{{url_for('static', filename='assets/images/944619_bd_media_id_7c22afa1cdb99166933629fd9868210b.png')}}"></div></div>
</div>
	
		<div class=" bd-columnwrapper-24 
 col-md-8
 col-sm-12">
    <div class="bd-layoutcolumn-24 bd-column" ><div class="bd-vertical-align-wrapper"><div class=" bd-spacer-4 hidden-sm hidden-xs clearfix"></div>
	
		<h1 class=" bd-textblock-3 bd-content-element">
    Vehicle Insurance Comparison
</h1>
	
		<p class=" bd-textblock-16 bd-content-element">
    Do you ever wonder why different cars cost you different amounts for auto insurance premiums? Why is it that a new Corvette may cost you $1,600 dollars a month in auto insurance and an older Buick Regal may only cost you $90 per month?&nbsp;
</p>
	
		<div class=" bd-layoutcontainer-14 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-top">
                <div class=" bd-columnwrapper-26 
 col-sm-6">
    <div class="bd-layoutcolumn-26 bd-column" ><div class="bd-vertical-align-wrapper"><h2 class=" bd-textblock-26 bd-content-element">
    Top Misunderstood Things
</h2>
	
		<p class=" bd-textblock-31 bd-content-element">
    After spending many years in the insurance industry we have come up with a top 10 list of most misunderstood things about car insurance. &nbsp;
</p>
	
		<a 
 href="" class="bd-linkbutton-11  bd-button-17 bd-icon bd-icon-30 bd-own-margins bd-content-element"    >
    Read More
</a></div></div>
</div>
	
		<div class=" bd-columnwrapper-30 
 col-sm-6">
    <div class="bd-layoutcolumn-30 bd-column" ><div class="bd-vertical-align-wrapper"><h2 class=" bd-textblock-37 bd-content-element">
    Cheap Car Insurance Is Easy
</h2>
	
		<p class=" bd-textblock-39 bd-content-element">
    Car insurance is an added expense over and above the considerable expense of owning and maintaining a car, particularly when you consider all the other types of insurance.&nbsp;
</p>
	
		<a 
 href="" class="bd-linkbutton-16  bd-button-21 bd-icon bd-icon-40 bd-own-margins bd-content-element"    >
    Read More
</a></div></div>
</div>
            </div>
        </div>
    </div>
</div></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>
</div>
</div></div>
</div>

                    
                </div>
                
            </div>
            
        </div>

    </div>
</div>
	
  {% block footer %}


                {% include 'appbuilder/footer_front.html' %}

    {% endblock %}
{% endblock %}