{% extends 'appbuilder/base/init.html' %}
{% import 'appbuilder/baselib.html' as baselib %}

{% block body %}
        {% include 'appbuilder/general/confirm.html' %}
        {% include 'appbuilder/general/alert.html' %}


   {% block navbar %}
{% if not current_user.is_anonymous() %}

          <header class="top" role="header">
        {% include 'appbuilder/navbar_auth.html' %}
        </header>

{% else %}
          <header class="top" role="header">
        {% include 'appbuilder/navbar_menu.html' %}
        </header>

{% endif %}
    {% endblock %}



    <div class="container">
      <div class="row">
          {% block messages %}
            {% include 'appbuilder/flash.html' %}
          {% endblock %}
          {% block content %}
          {% endblock %}
      </div>
    </div>

    {% block footer %}
        <footer>
        <div class="img-rounded nav-fixed-bottom">
            <div class="container">
                {% include 'appbuilder/footer_front.html' %}
            </div>
        </div>
        </footer>
    {% endblock %}
{% endblock %}