

    {% block navbar %}

 <header class=" bd-headerarea-1 bd-margins">
        <div data-affix
     data-offset=""
     data-fix-at-screen="top"
     data-clip-at-control="bottom"

 data-enable-lg

 data-enable-md

 data-enable-sm

     class=" bd-affix-2 bd-no-margins bd-margins "><section class=" bd-section-4 bd-tagstyles  " id="section4" data-section-title="">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutbox-3 bd-page-width  bd-no-margins clearfix">
    <div class="bd-container-inner">
        <div class=" bd-layoutbox-11 bd-no-margins clearfix">
    <div class="bd-container-inner">
        <img class="bd-imagelink-8 bd-own-margins bd-imagestyles   "  src="{{url_for('static', filename='assets/images/1199023_bd_media_id_04bdf9b59b5f598287c41d22b7eeee00.png')}}">

		<div class=" bd-headline-2">
    <div class="bd-container-inner">
        <h3>
            <a href="/" class="bd-content-element">Insurance</a>
        </h3>
    </div>
</div>

		<div class=" bd-slogan-2 bd-content-element">
    <div class="bd-container-inner">
        <div class="bd-container-inner">
        <div class="bd-container-inner"><br>

</div></div>
    </div>
</div>
    </div>
</div>

		<div class=" bd-layoutbox-15 bd-no-margins clearfix">
    <div class="bd-container-inner">
        <div class=" bd-layoutbox-19 bd-no-margins clearfix">
    <div class="bd-container-inner">
        <p class=" bd-textblock-4 bd-no-margins bd-content-element">
    Get your quotes today
</p>

		<h4 class=" bd-textblock-10 bd-no-margins bd-content-element">
    1-234-567-8910
</h4>

		<div class=" bd-socialicons-2 bd-no-margins">

        <a target="_blank" data-social-url data-path-to-root="." class=" bd-socialicon-17 bd-socialicon"
   href="//www.facebook.com/sharer.php?u=">
    <span class="bd-icon"></span><span></span>
</a>

        <a target="_blank" data-social-url data-path-to-root="." class=" bd-socialicon-18 bd-socialicon"
   href="//twitter.com/share?url=&amp;text=">
    <span class="bd-icon"></span><span></span>
</a>

        <a target="_blank" data-social-url data-path-to-root="." class=" bd-socialicon-19 bd-socialicon"
   href="//plus.google.com/share?url=">
    <span class="bd-icon"></span><span></span>
</a>







</div>
    </div>
</div>

		<div class=" bd-spacer-2 clearfix"></div>



    <nav class=" bd-hmenu-1" data-responsive-menu="true" data-responsive-levels="expand on click">

            <div class=" bd-responsivemenu-11 collapse-button">
    <div class="bd-container-inner">
        <div class="bd-menuitem-4 ">
            <a  data-toggle="collapse"
                data-target=".bd-hmenu-1 .collapse-button + .navbar-collapse"
                href="#" onclick="return false;">
                    <span>Menu</span>
            </a>
        </div>
    </div>
</div>
            <div class="navbar-collapse collapse">

            <div class=" bd-horizontalmenu-70 clearfix">
                <div class="bd-container-inner">

                    <ul class=" bd-menu-63 nav nav-pills navbar-right">

















                            <li class=" bd-menuitem-36

                                        bd-toplevel-item

                                        "
                                    >



                            <a
 class="active" href="{{ url_for('MyIndex.index') }}" >Home</a>





                            </li>

                            <li class=" bd-menuitem-36

                                        bd-toplevel-item

                                        "
                                    >



                            <a  href="{{ url_for('MyIndex.contact') }}" >Contacts</a>





                            </li>

                            <li class=" bd-menuitem-36

                                        bd-toplevel-item

                                        "
                                    >



                            <a  href="{{ url_for('MyIndex.solutions') }}" >Our Solutions</a>





                            </li>
                    </ul>

                </div>
            </div>


            </div>
    </nav>
    </div>
</div>
    </div>
</div>
    </div>
</section></div>
</header>

        {% endblock %}
