  {% extends "appbuilder/base/baselayout.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block page_title %}{{contactus}}{% endblock %}
{% block bodytype %}
<body class=" bootstrap bd-body-7  bd-pagebackground  bd-margins">
{% endblock %}
{% block body %}
{{ super() }}
	
		<div class=" bd-stretchtobottom-2 bd-stretch-to-bottom" data-control-selector=".bd-content-12"><div class=" bd-content-12 ">
    
    <div class=" bd-htmlcontent-9 bd-margins" 
 data-page-id="page.13">
    <section class=" bd-section-11 bd-tagstyles" id="section5" data-section-title="Two Columns Left Offset">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-13 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-middle">
                <div class=" bd-columnwrapper-30 
 col-sm-4">
    <div class="bd-layoutcolumn-30 bd-no-margins bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
	
		<div class=" bd-columnwrapper-34 
 col-sm-8">
    <div class="bd-layoutcolumn-34 bd-no-margins bd-column" ><div class="bd-vertical-align-wrapper"><form class=" bd-form-2 "
 action="#"
 name="form-name" method="post">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <p class=" bd-textblock-86 bd-content-element">
    Contact Us
</p>
	
		<div class=" bd-input-2 form-group
 row">
    <label class="bd-form-label
 form-control-label
  col-md-3">Label</label>
    <div class=" col-md-9">

    <input type="text" class="bd-form-input"
 placeholder="Input" >

    </div>
</div>
	
		<div class=" bd-input-5 form-group
 row">
    <label class="bd-form-label
 form-control-label
  col-md-3">Label</label>
    <div class=" col-md-9">

    <input type="text" class="bd-form-input"
 placeholder="Input" >

    </div>
</div>
	
		<div class=" bd-textarea-2 form-group
 row">
    <label class="bd-form-label
 form-control-label
  col-md-3">Label</label>
    <div class=" col-md-9">

    <textarea class="bd-form-input"
 placeholder="Textarea"></textarea>

    </div>
</div>
	
		<a 
 onclick="jQuery(this).closest('form').submit();" href="#" class="bd-linkbutton-25  bd-button-28  bd-own-margins bd-content-element"    >
    Send
</a>
        </div>
    </div>
</form></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>
	
		<section class=" bd-section-6 bd-tagstyles" id="section4" data-section-title="Map Two Thirds">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-5 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-middle">
                <div class=" bd-columnwrapper-7 
 col-sm-8">
    <div class="bd-layoutcolumn-7 bd-column" ><div class="bd-vertical-align-wrapper"><div class="bd-googlemap-2 bd-own-margins bd-imagestyles ">
    <div class="embed-responsive" style="height: 100%; width: 100%;">
        <iframe class="embed-responsive-item"
                src="//maps.google.com/maps?output=embed&q=Dansoman&z=16&t=m&hl=English"></iframe>
    </div>
</div></div></div>
</div>
	
		<div class=" bd-columnwrapper-11 
 col-sm-4">
    <div class="bd-layoutcolumn-11 bd-no-margins bd-column" ><div class="bd-vertical-align-wrapper"><h1 class=" bd-textblock-7 bd-content-element">
    Contacts
</h1>
	
		<p class=" bd-textblock-9 bd-content-element">
    P.O BOX MP 4088<br>MAMPROBI - ACCRA<br>
<br>
024497316 - 0554264626<br>
</p></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>
</div>
</div></div>
            {% block footer %}

<footer class=" bd-footerarea-1 bd-margins">
                {% include 'appbuilder/footer_front.html' %}
</footer>
    {% endblock %}
	{% endblock %}
