{% extends 'appbuilder/base/baselayout.html' %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block page_title %}{{ptitle}}{% endblock %}

{% block body %}
{{ super() }}

    <section class=" bd-section-7 bd-page-width bd-tagstyles " id="section3" data-section-title="Architecture Full Page Height Slider">
    <div class="bd-container-inner bd-margins clearfix">
        <div id="carousel-5" class="bd-slider-5 bd-background-width  bd-slider bd-no-margins  carousel slide bd-carousel-fade" >




    <div class="bd-sliderindicators-5  bd-slider-indicators" >
    <ol class="bd-indicators-2 " >

        <li><a class="
 active" href="#" data-target="#carousel-5" data-slide-to="0"></a></li>
        <li><a class="" href="#" data-target="#carousel-5" data-slide-to="1"></a></li>
    </ol>
    </div>

    <div class="bd-slides carousel-inner">
        <div class=" bd-slide-7 bd-textureoverlay bd-textureoverlay-7 bd-slide item">
    <div class="bd-container-inner">
        <div class="bd-container-inner-wrapper">
            <div class=" bd-layoutbox-26 bd-no-margins clearfix">
    <div class="bd-container-inner">
        <a class=" bd-logo-4" href="">
    <img class=" bd-imagestyles-8" src="{{url_for('static', filename='assets/images/ecec134198a00333563fc201fde012d1_nicklogo.png')}}">
</a>

		<h4 class=" bd-textblock-17 bd-content-element">
    ALL OUR CHILDREN NEED IS
</h4>

		<h2 class=" bd-textblock-19 bd-content-element">
    CARE
</h2>

		<h4 class=" bd-textblock-21 bd-content-element">
    SO THEY CAN FEEL LOVED
</h4>

		<div class="bd-separator-5  bd-separator-center bd-separator-content-center clearfix" >
    <div class="bd-container-inner">
        <div class="bd-separator-inner">

        </div>
    </div>
</div>
    </div>
</div>
        </div>
    </div>
</div>

		<div class=" bd-slide-9 bd-textureoverlay bd-textureoverlay-9 bd-slide item"


    >
    <div class="bd-container-inner">
        <div class="bd-container-inner-wrapper">
            <div class=" bd-layoutbox-28 bd-no-margins clearfix">
    <div class="bd-container-inner">
        <a class=" bd-logo-7" href="">
    <img class=" bd-imagestyles-12" src="{{url_for('static', filename='assets/images/9d7f7fd8a2dc936697dbc2fad44b3121_nicklogo.png')}}">
</a>

		<h4 class=" bd-textblock-25 bd-content-element">
    WE AIM TO BE THE&nbsp;
</h4>

		<h2 class=" bd-textblock-27 bd-content-element">
    VOICE
</h2>

		<h4 class=" bd-textblock-29 bd-content-element">
    OF THE VOICELESS AND GIVE A NEW HOPE TO OUR CHILDREN
</h4>

		<div class="bd-separator-8  bd-separator-center bd-separator-content-center clearfix" >
    <div class="bd-container-inner">
        <div class="bd-separator-inner">

        </div>
    </div>
</div>
    </div>
</div>
        </div>
    </div>
</div>
    </div>






        <div class="bd-left-button">
    <a class=" bd-carousel-5" href="#">
        <span class="bd-icon"></span>
    </a>
</div>

<div class="bd-right-button">
    <a class=" bd-carousel-5" href="#">
        <span class="bd-icon"></span>
    </a>
</div>

    <script type="text/javascript">
        /* <![CDATA[ */
        if ('undefined' !== typeof initSlider) {
            initSlider(
                '.bd-slider-5',
                {
                    leftButtonSelector: 'bd-left-button',
                    rightButtonSelector: 'bd-right-button',
                    navigatorSelector: '.bd-carousel-5',
                    indicatorsSelector: '.bd-indicators-2',
                    carouselInterval: 4500,
                    carouselPause: "hover",
                    carouselWrap: true,
                    carouselRideOnStart: true
                }
            );
        }
        /* ]]> */
    </script>
</div>
    </div>
</section>
	
		<div class=" bd-content-13">
    
    <div class=" bd-htmlcontent-1 bd-margins" 
 data-page-id="page.0">
    <div class=" bd-parallaxbackground-1 bd-parallax-bg-effect" data-control-selector=".bd-section-10"><section class=" bd-section-10 bd-page-width bd-tagstyles  " id="section4" data-section-title="row with background image">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutbox-30 bd-page-width  bd-no-margins bd-no-margins clearfix">
    <div class="bd-container-inner">
        <h1 class=" bd-textblock-44 bd-content-element">
    OUR VISION
</h1>
	
		<p class=" bd-textblock-46 bd-content-element">
    Our children are the future leaders
and we as patriotic citizens seek to give these children equal rights and hope
as enshrined in the constitution of Ghana.<br>
New Grace Foundation is taking the lead to search for the deprived children and
attend to their basic needs. Our facilities are very new and comfortable to
provide a good atmosphere for studies and livelihood. &nbsp;&nbsp;<!--EndFragment-->
</p>
    </div>
</div>
    </div>
</section></div>
	
		<div class=" bd-parallaxbackground-2 bd-parallax-bg-effect" data-control-selector=".bd-section-9"><section class=" bd-section-9 bd-tagstyles " id="section4" data-section-title="Three Columns">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-9 bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-middle">
                <div class=" bd-columnwrapper-24 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-24 bd-column" ><div class="bd-vertical-align-wrapper"><span class="bd-iconlink-2 bd-own-margins bd-icon-44 bd-icon "></span>
	
		<h2 class=" bd-textblock-31 bd-content-element">
    What we do
</h2>
	
		<p class=" bd-textblock-34 bd-content-element">
    Committed to provide education, vocation and welfare to "helpless" and underprivileged children
</p></div></div>
</div>
	
		<div class=" bd-columnwrapper-26 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-26 bd-column" ><div class="bd-vertical-align-wrapper"><span class="bd-iconlink-5 bd-own-margins bd-icon-49 bd-icon "></span>
	
		<h2 class=" bd-textblock-36 bd-content-element">
    SUPPORT US
</h2>
	
		<p class=" bd-textblock-38 bd-content-element">
    Can you help us in kind or in cash? You can also help in volunteering &nbsp;in our upcoming activities.
</p></div></div>
</div>
	
		<div class=" bd-columnwrapper-28 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-28 bd-column" ><div class="bd-vertical-align-wrapper"><span class="bd-iconlink-7 bd-own-margins bd-icon-53 bd-icon "></span>
	
		<h2 class=" bd-textblock-40 bd-content-element">
    CONTACT US
</h2>
	
		<p class=" bd-textblock-42 bd-content-element">
    If you have a question or would like to get involved, we’d love to hear from you.
</p></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section></div>
	
		<section class=" bd-section-8 bd-page-width bd-tagstyles " id="section4" data-section-title="Six Columns Images">
    <div class="bd-container-inner bd-margins clearfix">
        <div class=" bd-layoutcontainer-6 bd-page-width  bd-columns bd-no-margins">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row 
 bd-row-flex 
 bd-row-align-middle">
                <div class=" bd-columnwrapper-10 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-10 bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
	
		<div class=" bd-columnwrapper-14 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-14 bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
	
		<div class=" bd-columnwrapper-16 
 col-md-4
 col-sm-6">
    <div class="bd-layoutcolumn-16 bd-column" ><div class="bd-vertical-align-wrapper"></div></div>
</div>
            </div>
        </div>
    </div>
</div>
    </div>
</section>
</div>
</div>

	
		<div data-smooth-scroll data-animation-time="250" class=" bd-smoothscroll-3"><a href="#" class=" bd-backtotop-1 ">
    <span class="bd-icon-67 bd-icon "></span>
</a></div>
        {% block footer %}

<footer class=" bd-footerarea-1 bd-margins">
                {% include 'appbuilder/footer_front.html' %}
</footer>
    {% endblock %}
{% endblock %}

